body,
main {
    background-color: #212529;
}

.no-margin {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
}

.text-sm {
    font-size: 14px; /* Fallback */
    font-size: 0.7rem;
}

.text-right {
    text-align: right;
}

#search-box:focus,
#search-button:focus,
#clear-button:focus {
    outline: 2px solid #3498db; /* Change color to your preference */
}
